*{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

button {
    background-color: #e48b91; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-decoration: none; 
    cursor: pointer; 
    margin: 5px; 
    border-radius: 20px;
  }
  
  button a {
    color: white; 
    text-decoration: none; 
  }