*{
    color:#222;
}

body{
    color:#222;
}
p{
    color: black;
}

h1{
    color: black;
}

h2{
    color: black;
}
.subtitle{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

  .box-title .title {
    text-align: center;
    color:#222; 
    font-size:35px; 
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:15px; 
    color:#ffa4b5;
  }

  .box-titletwo .titletwo {
    position: relative;
    text-align: center;
    color:#222; 
    font-size:35px; 
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:15px; 
    color:#ffa4b5;
  }

  .box-formulario {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:80px 0;
}
.formulario {
    width: 700px;
    background: #232323;
    padding: 60px 5%;
    text-align: center;
}


.formulario input {
    position: relative;
    display: flex;
    margin: 50px 10px;
    width:100%;
      padding:10px;
      box-sizing:border-box;
      background:none;
      outline:none;
      resize:none;
      border:0;
      font-family:'Montserrat',sans-serif;
      transition:all .3s;
      border-bottom:2px solid #bebed2
    }
    input:focus{
      border-bottom:2px solid #78788c
    }

  
  .input-card {
    display: inline-block;
    width: 95%;
    padding: 10px 0 10px 10px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: white;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
  }

/*Botão*/
.btn-submit {
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s
  }

  .buttonpages {
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
  }

  .button{
    float: left;
    background-color: #e48b91; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
    border-radius: 5pxss;
    margin: 5px; 
   justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
  }

  .loading{
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttonpages a {
    color: white; 
    text-decoration: none; 
  }
  .btn-submit:hover {
    background-color:#cd4962;
  }
  

